.gmap-main{
    display: flex;
    flex-direction: row;
    height: 400px;
    border: solid 3px #2a5298;
    margin: 20px;
    border-radius: 30px;
    background: linear-gradient(135deg, #f0f5ff 0%, #e6f0fa 100%);
     
}

.gmap-text{
    width: 50%;
    padding: 20px;
    text-align: center;
    height: 100%;
    text-align: left;
    margin-left: 10px;
}

.gmap-text h2{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #1e3c72;
}

.gmap-text p{
    font-size: 18px;
    font-weight: 600;
    color: #2a5298;
}

.gmap-embed{
    width: 50%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gmap-icon{
    color: #00478F;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s ease;
}

.gmap-icon:hover{
    color: #1e3c72;
}

@media (max-width: 768px) {
    .gmap-main {
      flex-direction: column;
      height: auto;
      margin: 10px;
      border-radius: 20px;
    }
  
    .gmap-text,
    .gmap-embed {
      width: 100%;
      padding: 15px;
    }
  
    .gmap-text h2 {
      font-size: 36px;
    }
  
    .gmap-text p {
      font-size: 16px;
    }
  
    .gmap-embed iframe {
      width: 100% !important;
      height: 250px !important;
    }
  }