.vismis-main{
    display: flex;
    padding: 30px;
    border-radius: 10px;
    background-color: #2a5298;
    justify-content: center;
    margin-bottom: 20px;
}

.vismis-container{
    display: flex;
    gap: 10%;
    align-content: center;
    justify-content: center;
}

.vismis-text{
    width: 50%;
    padding: 20px;
    text-align: center;
    height: 100%;
    text-align: left;
    margin-left: 10px;
}

.vismis{
    width: 45%;
    
    padding: 10px;
    border-radius: 20px;
    border: solid white 3px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vismis>h3{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #2a5298;
    margin: 0px;

}

.vismis>p{
    text-align: justify;
    width: 80%;
}


@media screen and (max-width: 768px) {
    .vismis-main {
      padding: 20px 20px;
      margin: 10px;
      flex-direction: column;
    }
  
    .vismis-container {
      flex-direction: column;
      border-radius: 20px;
      gap: 20px;
    }
  
    .vismis {
      width: 100%;
      padding: 15px;
    }
  
    .vismis > h3 {
      font-size: 1.5rem;
    }
  
    .vismis > p {
      font-size: 0.95rem;
      width: 100%;
    }
  }